<h1>Editing resume content</h1>

<%= render "form", resume_content: @resume_content %>

<br>

<div>
  <%= link_to "Show this resume content", @resume_content %> |
  <%= link_to "Back to resume contents", resume_contents_path %>
</div>
